*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px solid greenyellow; */
    font-family: Arial, Helvetica, sans-serif
}


.body__block{
    width: 100%;
    height: 500vh;
    /* background: rgb(0,255,231); */
    background: linear-gradient(80deg, rgb(77, 219, 250) 0%, rgb(162, 238, 255) 35%, rgb(77, 219, 250) 100%);
}

.cabecera{
    
    width: 100%;
    margin: auto;
    color: white;
    text-align: center;
    font-size: 90%;
    text-shadow: 1px 1px 5px black;
    background-color: rgb(255, 255, 255);
    position: fixed;
}
    
    

.titulo{
    padding-top: 10px;
    padding-bottom: 10px;
}
 

.block__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 2rem;
    box-shadow: 1px 6px 5px rgba(57, 57, 57, 0.538);
}
    
    

    

a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.3em;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px black;
}

.article__intro{
    margin: 0 auto;
    padding-top: 100px;
    width: 90%;
    height: auto;
    text-align: justify;
}

.article__container{
    background-color: rgba(255, 255, 255, 0.364);
    padding: 10px;
    border-radius: 2%;
    min-width: 320px;
}
