.encabezado{
    display: flex;
    justify-content: center;
}
.menu
 {
    background: #e3f2fd;
 }
 .info-problematica {
     border: 2px solid gray;
 }
 .info-problematica, section p {
    text-align: justify;
 }
